@model TestVisualizeJS.Models.VisiteurWeb
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <!-- Bootstrap CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- Visualize -->
    <script src="http://srvreporting-01:8080/jasperserver-pro/client/visualize.js"></script>
    <!-- Get ViewBag data and transfer it to visualize.js-->
    <script>
        var folder_choice_var = '@(ViewBag.folder_choice)';
        var first_resource_uri_var = '@(ViewBag.first_resource_uri)';
        var first_resource_type_var = '@(ViewBag.first_resource_type)';
        var credentials = '@(ViewBag.credentials)';
        var folder_error = '@(ViewBag.folder_error)';
    </script>
    <script type="text/javascript" src="~/Content/VisualizeConfig.js"></script>
    <style>
        .btn-hover {
          font-weight: normal;
          color: #333333;
          cursor: pointer;
          background-color: inherit;
          border-color: transparent;
        }

        /*.btn-hover-alt {
          font-weight: normal;
          color: #ffffff;
          cursor: pointer;
          background-color: inherit;
          border-color: transparent;
        }*/
    </style>

</head>
<body>
    <div class="container col-sm-12">
        <h5 id="@ViewBag.first_resource_label">Test de visualize.js dans une page ASP.NET</h5>
        <!-- Authentication form -->
        <div id="authentication_jasper" class="border col-lg-3">
            @using (Html.BeginForm("MyForm", "Visualize", FormMethod.Post))
            {
                <h6>Authentication Form</h6>
                <div class="form-group">
                    <label class="col-form-label" for="j_username">Nom d'utilisateur Jasper</label>
                    @Html.TextBoxFor(model => model.Username, new { @id = "j_username", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="j_password">Mot de passe</label>
                    @Html.PasswordFor(model => model.Password, new { @id = "j_password", @class = "form-control" })
                </div>
                <input type="submit" class="btn btn-secondary col-lg-12" value="Valider" />
            }
            <br />
            <p class="text-danger">@(ViewBag.error)</p>
        </div>


        <!-- Modal for resource selection update -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Modifier le dossier source</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><i>! Si la modification est interdite, un message d'erreur apparaîtra !</i></p>
                        <div id="update_resource_form">
                            @using (Html.BeginForm("MyUpdateForm", "Visualize", FormMethod.Post))
                            {
                            <div class="form-group">
                                <label class="col-form-label" for="input_folder_choice">Chemin d'accès au dossier (en entier)</label>
                                @Html.TextBoxFor(model => model.FolderChoice, new { @id = "input_folder_choice", @class = "form-control" })
                                @Html.TextBoxFor(model => model.Username, new { @id = "input_username", @class = "form-control", @value = Model.Username, @type = "hidden" })
                                @Html.TextBoxFor(model => model.Password, new { @id = "input_password", @class = "form-control", @value = Model.Username, @type = "hidden" })

                            </div>
                                <input type="submit" class="btn btn-secondary col-lg-12" value="Valider" />
                            }
                            <br />
                            <!--<p class="text-danger">@(ViewBag.error)</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resource selection div -->
        <div id="folder_display" class="row input-group col-sm-12" style="margin-top:8px;">
            <label id="label_resource_selection" class="col-form-label" for="resource_selection" style="display:none;">Loading ...</label>
            &nbsp;
            <select id="resource_selection" class="custom-select form-control form-control-xs col-lg-3" style="display:none;"></select>

            <!-- resource selection update section -->
            <div id="iput_update_resource_selection" class="col-xs-4 col-sm-4 d-flex">
                <!-- Button to trigger modal -->
                <button id="update_modal_btn" type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal" style="display:none;">
                    Modifier le dossier source
                </button>
            </div>

        </div>


        <!-- Modal for input controls -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier vos contrôles d'entrée</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="ic" style="height:">Loading</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Fixed feature bar -->
        <div id="hide_fix_bar" style="display:none; position: -webkit-sticky; position: sticky; top: 0; z-index:10; background-color: #eeeeee; margin-left:2px; margin-top:8px;">
            <div class="row col-sm-12" align="center" id="features_fixed_bar">
                <!-- Pagination section -->
                <div id="pagination_feature" class="input-group col-sm-3 d-flex justify-content-center" style="border-right: 1px solid black;">
                    <button id="previousPage" class="btn btn-hover btn-primary"><b><</b></button>

                    <label id="page_label" for="page" class="col-form-label offset-md-1">page 1 :</label>
                    &nbsp;
                    <input type="text" id="page" class="form-control col-lg-3" />

                    <button id="nextPage" class="btn offset-md-1 btn-hover btn-primary"><b>></b></button>
                </div>
                <!-- Zoom section -->
                <div id="zoom_feature" class="input-group col-sm-3 d-flex justify-content-center" style="border-right: 1px solid black;">
                    <button id="zoom_minus" class="btn btn-hover btn-primary"><b>-</b></button>

                    <label id="zoom_custom_label" class="col-form-label offset-md-1" for="zoom_custom">Zoom 100% :</label>
                    &nbsp;
                    <input type="text" id="zoom_custom" class="form-control col-lg-3" />

                    <button id="zoom_plus" class="btn offset-md-1 btn-hover btn-primary"><b>+</b></button>
                </div>
                <!-- Export section -->
                <div id="export_feature" class="input-group col-sm-2 input-group-sm d-flex justify-content-center" style="border-right: 1px solid black;">
                    <button id="export_button" class="btn offset-md-1 btn-hover btn-primary" disabled>Export</button>
                </div>
                <!-- Input control section -->
                <div id="input_control_feature" class="col-xs-4 col-sm-4 d-flex justify-content-center">
                    <!-- Button to trigger modal -->
                    <button id="modal_btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Modifier les paramètres
                    </button>
                </div>
            </div>
        </div>

        <!-- Report layout container -->
        <div id="container" class="col-xs-12" style="height:700px;"></div>
        <!-- Dashboard layout container -->
        <div id="dashboard_container" style="height:700px;"></div>
    </div>
</body>
</html>